<!DOCTYPE html>
<html lang="en" dir="ltr" style="font-family:Arial">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Home T3</title>
</head>

<header>
    <div class="topnav">
        <a href="/home">Home | </a>
        <a href="/usuario/1">Usuarios | </a>
        <a href="/repartidor/1">Repartidores | </a>
        <a href="/pedido/1">Pedidos | </a>
        <a href="/tienda/1">Tiendas | </a>
    </div>
</header>

<body>

    <h1>Bienvenido</h1>

    <h3>Seleccione una de las opciones del menú de arriba.</h3>

    <div class="container">
        <div class="row m-5">
            <div class="col-3 offset-9">
                <button class="btn btn-primary text-right">
                    Ingresar alumno
                </button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12">
               
                @!section('content')

            </div>
        </div>
    </div>

</body>

</html>