<!DOCTYPE html>
<html lang="en" dir="ltr" style="font-family:Arial">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Home T3</title>
</head>

<header>
    <div class="topnav">
        <a href="/home">Home | </a>
        <a href="/usuario/1">Usuarios | </a>
        <a href="/repartidor">Repartidores | </a>
        <a href="/pedido">Pedidos | </a>
        <a href="/tienda">Tiendas | </a>
    </div>
</header>

<body>
               
    @!section('contentINFO')

</body>

</html>